@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://attachments.office.net/owa/Ever.Galarza%40students.jmcss.org/service.svc/s/GetAttachmentThumbnail?id=AAMkADU0NzE2MTA5LTM5NDUtNGRhZC04NGI0LTZiODQzMGNjYWI1MwBGAAAAAADOKQs3cBKyQIcmveJMkouTBwAQ7nO5OimpT6nvplynuj0GAAAAAAEMAAAQ7nO5OimpT6nvplynuj0GAATAPMQ%2BAAABEgAQAOsYJObNN8BAvOXwSK%2BNVcg%3D&thumbnailType=2&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjczRkI5QkJFRjYzNjc4RDRGN0U4NEI0NDBCQUJCMTJBMzM5RDlGOTgiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJjX3VidnZZMmVOVDM2RXRFQzZ1eEtqT2RuNWcifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2sub2ZmaWNlLmNvbSIsInVjIjoiMmM4MDMyODc0ODIxNGY4NTg1NDYxMTgxYWM1YTNkZDQiLCJzaWduaW5fc3RhdGUiOiJbXCJkdmNfbW5nZFwiLFwiZHZjX2NtcFwiLFwiZHZjX2RtamRcIixcImttc2lcIl0iLCJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQGQ5ODJmM2RjLThjMjUtNGQ3OS1hNzI5LWY2ZDQ3ZDYwY2ZlNSIsImlzc3JpbmciOiJXVyIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHVpZFwiOlwiMTE1Mzk3NzAyNTYzODczOTUwMVwiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCIsXCJvaWRcIjpcImQ4NDVhYzQ3LTA3OTMtNDMxYS1iMGM4LTJjNTI1YjFjYmZiYlwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTUtMjEtODAyNjY5NTQ0LTc0NTY1MTA0MS0zOTM4MzcwMTM3LTEyOTU4MzcyXCJ9IiwibmJmIjoxNzAxMTgwNjM2LCJleHAiOjE3MDExODEyMzYsImlzcyI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMEBkOTgyZjNkYy04YzI1LTRkNzktYTcyOS1mNmQ0N2Q2MGNmZTUiLCJhdWQiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYXR0YWNobWVudHMub2ZmaWNlLm5ldEBkOTgyZjNkYy04YzI1LTRkNzktYTcyOS1mNmQ0N2Q2MGNmZTUiLCJoYXBwIjoib3dhIn0.LBYnJCqK5yjng876DU6JPT39wIXG4teHk-IiTOathiVyH-fFI2b2xRPnPgiWIzYvU0v0whWOoPvYO7R-hAxp3KrSNnscuv88L2nHGUQWZd9gsaimLmFEdnnnikywfelZuvjJkUDw4JZSP-JsRcldqO_CRIcIgLWu1Opwk9OeQS4jMNMxEWD_2mBxcw0WEj4Np3MsXpXjU90yYt5U9FDfqiVww7x5qbgD4-tksafyF7uYHNg-iRLby2FRrcBaE_Cy0qzI_QA0dx0X4dQAiB2lrGNujhH3auQpmR42qFSAx9scSoBc4XZqmZbzsSzr79krSPgRYS2k7abhfgsoa72Wkg&X-OWA-CANARY=hSpeB21R1Um8uY7DwZt3jjCsKM8b8NsYGXEocXahtK0aZRRn8ZXevfY967xoe4Fs1zzf5Fzbs9w.&owa=outlook.office.com&scriptVer=20231117004.12&animation=true") center/cover fixed no-repeat;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  animation: animate-2 5s linear infinite;
}


@keyframes animate-2 {
  100% {
    filter: hue-rotate(360deg);
  }
}

.wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background: #000;
  box-shadow: 0 0 50px #00cc00;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
  animation: animate5 4s linear infinite;
}
@keyframes animate5 {
    100% {
      filter: hue-rotate(360deg);
    }
  }

.wrapper:hover {
  animation: animate 1s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
  transform: translateY(-480px);
}

.wrapper .form-wrapper.sign-up {
  position: absolute;
  top: 500px;
  left: 0;
}

.wrapper.active .form-wrapper.sign-up {
  transform: translateY(-480px);
}

h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.input-group {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-group label {
  position: absolute;
  top: 60%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-group input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: -5px;
}

.remember {
  margin: -5px 0 15px 5px;
}

.remember label {
  color: #fff;
  font-size: 14px;
}

.remember label input {
  accent-color: #00cc00;
}

button {
  position: relative;
  width: 100%;
  height: 40px;
  background: #00cc00;
  box-shadow: 0 0 10px #00cc00;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}

.signUp-link {
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}

.signUp-link p {
  color: #fff;
}

.signUp-link p a {
  color: #00cc00;
  text-decoration: none;
  font-weight: 500;
}

.signUp-link p a:hover {
  text-decoration: underline;
}
